.footer {
    position: fixed;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    bottom: 0;
    width: 100%;
    box-sizing: border-box;
    margin: 0;
}

.footer__container {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    max-width: 1400px;
    padding: 12px 30px;
    margin: 0;
}

.footer__author {
    font-size: 12px;
    line-height: 1;
    font-weight: normal;
    margin: 0;
}

.footer__link {
    font-size: 12px;
    line-height: 1;
    font-weight: normal;
    color: #333333;
    text-decoration: none;
    margin: 0;
}