@import url("./vendor/normalize.css");
@import url("./vendor/fonts/inter/inter.css");

.body {
  font-family: "Inter", "Arial", sans-serif;
  color: #060606;
  background-color: #fff;
}

.transparent-link {
  transition: all .3s;
}

.transparent-link:hover {
  opacity: .7;
}

#root {
  margin: 0 auto;
}