@import url("./vendor/normalize.css");
@import url("./vendor/fonts/inter/inter.css");

.body {
  font-family: "Inter", "Arial", sans-serif;
  color: #060606;
  background-color: #fff;
}

.page {
  position: relative;
  min-width: 320px;
  margin: 0 auto;
  padding: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  box-sizing: border-box;
}
